# listen settings
local ${HOSTIP}
port 1194
proto tcp
dev tun

# general settings
user openvpn
group openvpn
keepalive 10 120
persist-key
persist-tun
verb 3
tls-server

# paths to other files
client-config-dir /etc/openvpn/server/clients
ifconfig-pool-persist /etc/openvpn/server/pool-persist.txt
status /var/log/openvpn/main.log

# SSL
ca /etc/openvpn/certs/ca.crt
cert /etc/openvpn/certs/server.crt
key /etc/openvpn/certs/server.key
dh /etc/openvpn/certs/dh.pem
cipher AES-256-CBC AES-128-CBC
data-ciphers AES-256-CBC AES-128-CBC

# network settings
topology subnet
server 192.168.40.0 255.255.255.0
client-to-client

# routes on server
route 192.168.42.0 255.255.255.0
route 192.168.43.0 255.255.255.0

# routes pushed to clients
push "route 192.168.39.0 255.255.255.0"
push "route 192.168.38.0 255.255.255.0"
push "route 192.168.42.0 255.255.255.0"
push "route 192.168.43.0 255.255.255.0"