[submodule "servers/homepage"]
	path = servers/homepage
	url = git@bitbucket.org/benediktibk/homepage-git.git
[submodule "servers/corona"]
	path = servers/corona
	url = git@bitbucket.org/benediktibk/corona.git
[submodule "servers/shinobi/source"]
	path = servers/shinobi/source
	url = https://gitlab.com/Shinobi-Systems/Shinobi.git
