[Unit]
Description=infrastructure-services service
Requires=infrastructure-network.service
Requires=docker.service
After=infrastructure-network.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=1200

# Remove old containers, images and volumes and update it
ExecStartPre=/usr/bin/docker-compose --project-name infrastructure-services -f /etc/infrastructure/services.yaml down -v
ExecStartPre=/usr/bin/docker-compose --project-name infrastructure-services -f /etc/infrastructure/services.yaml rm -fv
ExecStartPre=/usr/bin/docker-compose --project-name infrastructure-services -f /etc/infrastructure/services.yaml pull

# Compose up
ExecStart=/usr/bin/docker-compose --project-name infrastructure-services -f /etc/infrastructure/services.yaml up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose --project-name infrastructure-services -f /etc/infrastructure/services.yaml down -v

[Install]
WantedBy=multi-user.target