[Unit]
Description=infrastructure service
Requires=docker.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=1200

# Remove old containers, images and volumes and update it
ExecStartPre=/usr/bin/docker-compose --project-name infrastructure -f /etc/infrastructure/server.yaml down -v
ExecStartPre=/usr/bin/docker-compose --project-name infrastructure -f /etc/infrastructure/server.yaml rm -fv
ExecStartPre=/usr/bin/docker-compose --project-name infrastructure -f /etc/infrastructure/server.yaml pull

# Compose up
ExecStart=/usr/bin/docker-compose --project-name infrastructure -f /etc/infrastructure/server.yaml up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose --project-name infrastructure -f /etc/infrastructure/server.yaml down -v

[Install]
WantedBy=multi-user.target